* {
    box-sizing: border-box;
}
/* sets font to Lora in the body */
body {
    font-family: 'Lora', serif;
}

/* formats header */
header {
    color: #590404;
    background-color: bisque ;
    margin: -10px;
    padding: 20px;
    height: 140px;
    
}
/* font size for h1 tag */
h1 {
  font-size: 36px;
}

/* font size for h2 tag */
h2 {
    font-size: 28px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
    margin-top: -120px;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 97);
}

a:hover {
    color: rgb(116, 116, 179);
   
}

/* Positioning, formatting, and styling the nav bar links */
.nav-li {
float: right;
list-style-type: none;
padding: 7px 7px;
margin: 20px;
background-color: #c05858;
border: 2px solid lightcoral;
border-radius: 10px;
border-style: dashed;
}
/* fades background color when mouse hovers over the nav link */
.nav-li:hover {
    background-color: #cf9898;
}

main {
    margin: -10px -10px;
    color: rgb(5, 5, 97);
    background-color: rgb(199, 231, 241);  
    border: 6px solid darkblue;
    border-style: thick;
    padding: 20px;
}

.work3 img {
    position: relative;
    border: 3px solid darkblue; 
}
.column {
    display: flex;
}

/* .work span {
    flex: 33.33%;
    padding: 5px;
    flex-wrap: wrap;
} */




/* positioning and formatting of code refactor label, couldn't get to work well */
/* .refactor-label {
    position: absolute;
    /* top: 833px;
    left: 1220px; */
    /* margin: 67% 800px;
    font-size: 30px;
    padding: 6px;
    color: #590404;
    border: 5px solid #590404;
    border-style: double;
    background-color: bisque;
} */ 

.marvel {
    
    position: relative;
}
/* .refactor-img .github-img {
    flex: 33.33%;
} */
.marvel img{
    
    border: 3px solid darkblue;
}

/* positioning and formatting of about me label, couldn't get to work well */
 /* .prework-img span:after {
    position: absolute;
    top: 20px;
    font-size: 30px;
    padding: 6px;
    color: #590404;
    border: 5px solid #590404;
    border-style: double;
    background-color: bisque;
}  */
/* border around the CSS image */
.work2 img {
    position: relative;
    border: 3px solid darkblue;
}
/* positioning and formatting of CSS label */
/* .weatherDashboard a label {
    position: absolute;
    /* top: 814px;
    left: 669px; */
    /* margin-top: 240px;
    margin-left: -350px;
    font-size: 20px;
    padding: 6px;
    color: #590404;
    border: 5px solid #590404;
    border-style: double;
    background-color: bisque;
} */ 
/* shadow on hover of image */
.work2 img:hover {
    box-shadow: 10px 5px 5px rgb(60, 60, 155);
}
/* shadow on hover of image */
.marvel img:hover {
    box-shadow: 10px 5px 5px rgb(60, 60, 155);
}
/* shadow on hover of image */
.work3 img:hover {
    box-shadow: 10px 5px 5px rgb(60, 60, 155);
}


/* Creating 3 columns so the images are side by side */
.marvel, .work2, .work3{
    flex: 33.33%;
    padding: 5px;
    flex-wrap: wrap;
}


.li-img-flex {
    display: flex;
    align-items: center;
}
.about-me img {
    height: 200px;
    border-radius: 200px;
    float: left;
}

/* formats and spaces links evenly and in a row, wraps upon screen change */
.contact-links {
    color: rgb(5, 5, 97);
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* creates an underline under the link when the user hovers over it */
#Linked-In-link:hover {
    text-decoration: underline solid darkblue;
    text-decoration-thickness: 5px;
}

/* creates an underline under the link when the user hovers over it */
#github-link:hover {
    text-decoration: underline solid darkblue;
    text-decoration-thickness: 5px;
}

/* when user is not on the resume section, my resume will not be displayed */
#resume-pic {
    display: none;
}

/* When the user's mouse hovers over the resume header, it appears */
.resume:hover #resume-pic{
    display: block;
}

/* formatting of footer */
footer {
    color: #590404;
    background-color: bisque;
    margin: -10px;
    padding: 15px;
    height: 100px;
    border-top: 5px solid darkblue;
    display: flex;
    justify-content: center;
}

/* flexes images to stay on screen and stay equally separated */
@media screen and (max-width: 1800px) {
    

    .work img {
        display: flex;
        height: 75%;
        width: 75%;
        float: left;
        flex-direction: column;
        display: block;

    }
    /* flexes the resume section */
    #resume-pic {
        display: none;  
    }
    #resume-pic:hover {
        display: flex;
        height: 25%;
        width: 25%;
    }

.refactor-label {
display: flex;
flex-wrap: wrap;
}
}
/* when screen is smaller the nav bar will switch to rows to avoid overlap with title */
@media screen and (max-width: 920px) {
    .nav-li {
        display: flex;
        flex-direction: row;
        width: 50%;
        font-size: 16px;
        
        margin: 0px;
    }
}
@media screen and (max-width: 650px) {
    .nav-li {
        display: flex;
        flex-direction: row;
        width: 50%;
        font-size: 12px;
        margin: -5px;
    }
}
@media screen and (max-width: 530px) {
    .nav-li {
            display: flex;
            flex-direction: row;
            width: 50%;
            font-size: 10px;
            display: block;
            
        }
}
