body {
    font-family: 'Lora', serif;
}

header {
    color: #590404;
    background-color: bisque ;
    margin: -10px;
    padding: 20px;
    height: 100px;
    
}

h1 {
  

}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
    margin-top: -110px;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 97);
}

a:hover {
    color: rgb(116, 116, 179);
   
}

.nav-li {
float: right;
list-style-type: none;
padding: 7px 7px;
margin: 20px;
position: relative;
background-color: #c05858;
border: 2px solid lightcoral;
border-radius: 10px;
border-style: dashed;
}
.nav-li:hover {
    background-color: #cf9898;
}


main {
    margin: -10px -10px;
    color: rgb(5, 5, 97);
    background-color: rgb(199, 231, 241);  
    border: 6px solid darkblue;
    border-style: thick;
    padding: 20px;
}

section {

}

.about-me img {
    height: 200px;
    border-radius: 200px;
}
/* 
font-family: 'Cormorant Garamond', serif; */