body {
    font-family: 'Lora', serif;
}

header {
    color: #590404;
    background-color: bisque ;
    margin: -10px;
    padding: 20px;
    height: 100px;
    
}

h1 {
  font-size: 36px;
}

h2 {
    font-size: 28px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 25px;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
    margin-top: -120px;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 97);
}

a:hover {
    color: rgb(116, 116, 179);
   
}

.nav-li {
float: right;
list-style-type: none;
padding: 7px 7px;
margin: 20px;
position: relative;
background-color: #c05858;
border: 2px solid lightcoral;
border-radius: 10px;
border-style: dashed;
}
.nav-li:hover {
    background-color: #cf9898;
}


main {
    margin: -10px -10px;
    color: rgb(5, 5, 97);
    background-color: rgb(199, 231, 241);  
    border: 6px solid darkblue;
    border-style: thick;
    padding: 20px;
}

section {
    
}

section ul li {
   float: left;

}

.about-me {

    
}

.work div {
    display: flex;
    justify-content: center;
}

/* .prework-img {
    height: 400px; */

/* } */

/* .cheatsheet-img {
    height: 250px;
    width: 300px;
    
} */

.li-img-flex {
    display: flex;
    align-items: center;
}
.about-me img {
    height: 200px;
    border-radius: 200px;
    float: left;
}

.contact-links {
    color: rgb(5, 5, 97);
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.middle-dot {
    height: 50px;
}

/* creates an underline under the link when the user hovers over it */
#Linked-In-link:hover {
    text-decoration: underline solid darkblue;
    text-decoration-thickness: 5px;
}

/* creates an underline under the link when the user hovers over it */
#github-link:hover {
    text-decoration: underline solid darkblue;
    text-decoration-thickness: 5px;
}

#resume-pic {
    display: none;
}

.resume:hover #resume-pic{
    display: block;
}
/* 
font-family: 'Cormorant Garamond', serif; */